
<nav class="navbar navbar-expand navbar-light bg-white topbar  mb-4 static-top shadow ">
  <ul class="navbar-nav " >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown"  [class.active]="check1" (click)="changeCheck1()" *ngIf="getUserType()!='MODERATEUR'" >

          <a class="nav-link dropdown-toggle"  id="navbarDropdownp" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a>produit</a></a>
          <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownp " >

            <li *ngFor="let cat of listCatP" >
              <a class="dropdown-item"   [routerLink]="['/produit',cat.idCategorieProduit ]">
                <img style="width: 20px ;height: 20px" [src]="cat.categorieProduitIcone"/>

                {{cat.libelle}} </a>
            </li>

          </ul>
        </li>

        <li class="nav-item" *ngIf="getUserType()==='USER'">
          <a class="nav-link" [class.active]="checkRec" (click)="changeCheckRec()" routerLink="/reclamation" >Espace Reclamation</a>
        </li>

        <li class="nav-item" *ngIf="getUserType()==='USER'">
          <a class="nav-link" [class.active]="check2" (click)="changeCheck2()" routerLink="" >Utiliser Code Promo</a>
        </li>
        <li class="nav-item"  *ngIf="getUserType()==='NL'">
          <a class="nav-link" [class.active]="check3" (click)="changeCheck3()" routerLink="">Se connecter</a>
        </li>
        <li class="nav-item" *ngIf="getUserType()==='NL'">
          <a class="nav-link" [class.active]="check4" (click)="changeCheck4()" routerLink="" >S'inscrire</a>
        </li>
        <li class="nav-item dropdown "  *ngIf="getUserType()==='USER'" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><a class="dropdown-item" href="#">Panier</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </ul>

</nav>

