
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



  <ul class="navbar-nav ml-auto">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="getUserType()!='MODERATEUR'">
          <a class="nav-link active" [class.active]="check1" (click)="changeCheck1()" aria-current="page"
             routerLink="">Les Produits</a>
        </li>
        <li class="nav-item" *ngIf="getUserType()==='USER'">
          <a class="nav-link" [class.active]="check2" (click)="changeCheck2()" routerLink="" >Utiliser un code Promo</a>
        </li>
        <li class="nav-item"  *ngIf="getUserType()==='NL'">
          <a class="nav-link" [class.active]="check3" (click)="changeCheck3()" routerLink="/connexion">Se connecter</a>
        </li>
        <li class="nav-item" *ngIf="getUserType()==='NL'">
          <a class="nav-link" [class.active]="check4" (click)="changeCheck4()" routerLink="/inscription" >S'inscrire</a>
        </li>
        <li class="nav-item dropdown" *ngIf="getUserType()==='USER' || getUserType()==='MODERATEUR'  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
            <li><a class="dropdown-item" href="#">Panier</a></li>
            <li><a class="dropdown-item" (click)="disconnect()">Déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </ul>

</nav>

